<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta httpEquiv="X-UA-Compatible" content="IE=edge"/>
<meta name="renderer" content="webkit" />

<meta name="keywords" content="鹰潭" />
<meta name="description" content="鹰潭" />
<meta name="viewport" content="width=device-width, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0, user-scalable=no" />
<!--[if lt IE 8]>

<![endif]-->
<!--<script language="javascript" src="https://chat16.live800.com/live800/chatClient/monitor.js?jid=2203550313&companyID=606536&configID=136313&codeType=custom&ss=1"></script>-->
<!-- 百度统计   -->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>-->
